.bundle/
log/*.log
pkg/
*.gem
coverage/
node_modules/
stats.json

spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/*
!spec/dummy/tmp/mailpeek/*
spec/dummy/.sass-cache

/app/assets/javascripts/mailpeek/*
!/app/assets/javascripts/mailpeek/application.coffee
