.material-icons.md-2x {
  font-size: 2rem;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #fff;
  z-index: 1000;
}

.m-h-300 {
  min-height: 20rem;
}

main {
  margin-left: 20rem;
}

.sidebar {
  transition: transform .25s ease;
  top: 3rem;
  width: 20rem;
}

.sidebar__empty {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar__unread {
  background: #eeeeee;
}

.overlay {
  background: transparent;
  content: ' ';
  top: 3rem;
  transform: translate(-100%, 0);
  transition: background-color .25s ease;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translate(-20rem, 0);
  }

  .sidebar_open {
    transform: translate(0, 0);
  }

  .overlay_open {
    background-color: rgba(0, 0, 0, 0.25);
    transform: translate(0, 0);
  }

  main {
    margin-left: 0;
  }
}

.transition {
  transition: all .25s ease;
}
