<!DOCTYPE html>
<html>
<head>
  <title>Mailpeek</title>
  <%= stylesheet_link_tag    "mailpeek/application", media: "all" %>
  <%= javascript_include_tag "mailpeek/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
