@import '_variables';

.body {
  @mixin card 2;
  background: $white;

  &__tabs {
    background: $brand-primary;
  }

  &__tab {
    color: $white;
    border-bottom: 3px solid $brand-primary;
    display: inline-block;
    padding: 15px;

    &_selected {
      border-bottom: 3px solid #FFEB3B;
    }
  }

  &__content {
    padding: 15px;
  }
}
