@import '_variables';

.email-item {
  padding: 15px;
  background: $white;
  border-bottom: 1px solid #E0E0E0;

  &_selected {
    background: #BBDEFB;
  }
}

.email-description {
  margin-left: 30px;
  &__subject {
    display:block;
  }

  &__date {
    display:block;
    font-size: 12px;
    color: #757575;
  }
}

.email-actions {
  float:left;

  &__trash-icon {
    cursor:pointer;
    color: $red;
  }
}
