<nav class="bg-blue text-white flex flex-row items-center px-4 justify-between overflow-hidden fixed pin-t pin-x h-12 z-10" data-turbolinks-permanent="">
  <a class="text-white no-underline" href="<%= root_path %>">
    Mailpeek
  </a>

  <div class="block cursor-pointer md:hidden" data-action="click->mailpeek#toggleSidebar">
    <i class="material-icons text-white md-2x">menu</i>
  </div>
</nav>
