<main class="flex-1 flex items-center justify-center transition mt-12 mb-8">
  <a
    class="block text-blue hover:text-blue-dark no-underline text-4xl"
    href="<%= root_path %>"
  >
    <i class="material-icons md-2x">refresh</i>
    Refresh
  </a>
</main>
