$white: #ffffff;

$font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$nav-height: 64px;
$sidebar-width: 320px;

$shadow-color-1: rgba(0, 0, 0, .2);
$shadow-color-2: rgba(0, 0, 0, .14);
$shadow-color-3: rgba(0, 0, 0, .12);

@mixin card($z) {
  @if $z == 3 {
    box-shadow:
    0 4px 5px -2px $shadow-color-1,
    0 7px 10px 1px $shadow-color-2,
    0 2px 16px 1px $shadow-color-3;
  } @else if $z == 2 {
    box-shadow:
    0 2px 4px -1px $shadow-color-1,
    0 4px 5px 0 $shadow-color-2,
    0 1px 10px 0 $shadow-color-3;
  } @else {
    box-shadow:
    0 1px 3px 0 $shadow-color-1,
    0 1px 1px 0 $shadow-color-2,
    0 2px 1px -1px $shadow-color-3;
  }
}
