/*
 *= require_self
 *= require_tree .
 */

$nav-height: 3rem;
$sidebar-width: 20rem;

.material-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  &.md-2x {
    font-size: 2rem;
  }
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #fff;
  z-index: 1000;
}

.m-h-300 {
  min-height: 20rem;
}

main {
  margin-left: $sidebar-width;
}

.sidebar {
  transition: transform .25s ease;
  top: $nav-height;
  width: $sidebar-width;

  &__empty {
    top: 50%;
    transform: translateY(-50%);
  }

  &__unread {
    background: #eeeeee;
  }
}

.overlay {
  background: transparent;
  content: ' ';
  top: $nav-height;
  transform: translate(-100%, 0);
  transition: background-color .25s ease;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translate(-$sidebar-width, 0);

    &_open {
      transform: translate(0, 0);
    }
  }

  .overlay_open {
    background-color: rgba(0, 0, 0, 0.25);
    transform: translate(0, 0);
  }

  main {
    margin-left: 0;
  }
}

.transition {
  transition: all .25s ease;
}
