@import 'variables';

.email {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__details {
    padding: 1rem;
  }

  &__text {
    padding: 1rem;
  }

  &__tab-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__tabs {
    padding: 0 1rem;
    position: relative;
  }

  &__border1 {
    background-color: #dee2e6;
    bottom: 0px;
    height: 1.1px;
    left: 0;
    position: absolute;
    width: 1rem;
  }

  &__border2 {
    background-color: #dee2e6;
    bottom: 0px;
    height: 1.1px;
    left: calc(100% - 1rem);
    position: absolute;
    width: 1rem;
  }

  &__iframe {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}
